@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en" class="no-js">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Playscape</title>


    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">


    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="~/css/calendar.css" rel="stylesheet" />

</head>

<body id="body" data-ng-app="contactApp" class="dark-theme pink-color">

    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <!--Navigation-->
    <div class="menu-wrap">
        <nav class="menu">
            <div id="menu" class="icon-list">
                <div data-menuanchor="home_sec" class="active"><a class="menu-link" href="#home_sec"><span>home</span></a></div>
                <div data-menuanchor="about_sec"><a class="menu-link" href="#about_sec"><span>about</span></a></div>
                <div data-menuanchor="services_sec"><a class="menu-link" href="#services_sec"><span>services</span></a></div>
                <div data-menuanchor="features_sec"><a class="menu-link" href="#features_sec"><span>features</span></a></div>
                <div data-menuanchor="video_sec"><a class="menu-link" href="#video_sec"><span>video</span></a></div>
                <div data-menuanchor="portfolio_sec"><a class="menu-link" href="#portfolio_sec"><span>portfolio</span></a></div>
                <div data-menuanchor="team_sec"><a href="#team_sec"><span>team</span></a></div>
                <div data-menuanchor="contact_sec"><a href="#contact_sec"><span>contact</span></a></div>
                <div data-menuanchor="googlemap_sec"><a href="#googlemap_sec"><span>google map</span></a></div>
            </div>
        </nav>

        <!--Twitter Sec-->
        <div class="twitter-wrap">
            <span class="twiter-ico-wrap">
                <i class="fa fa-twitter"></i>
            </span>
            <div id="tweecool"></div>
        </div>
        <!--/Twitter Sec-->
    </div>

    <button class="menu-button hamburger hamburger--collapse" id="open-button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <!--/Navigation-->
    <!--Slider-->
    <div class="full-height" data-zs-src='["/img/bg1.jpg", "/img/bg2.jpg", "/img/bg3.jpg"]'></div>
    <!--/Slider-->
    <!-- /Gradient Overlay-->
    <div id="gradient"></div>
    <!-- /Gradient Overlay-->
    <!--Main Content-->
    <div id="fullpage" class="content-wrap">

        <!--Home Sec-->
        <section class="section intro-sec text-center" id="section0">

            <div class="intro-sec-wrap sec-pad">

                <div class="container">
                    <div id="nt-title-container">
                        <ul id="nt-title">
                            <li>
                                <h1>Playscape<br />  Mock Site.</h1>
                            </li>
                        </ul>
                    </div>

                    <p class="lead">Safe &amp; Clean Indoor Playground!</p>
                </div>

                <!--Social Icons-->
                <ul class="social-icons col-sm-4 pad-zero">
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-envelope"></span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!--/Social Icons-->
                <div class="clearfix"></div>
            </div>

        </section>
        <!--/Home Sec-->
        <!--About Sec-->
        <section class="section about-sec" id="section1">

            <div class="about-sec-wrap sec-pad-top sec-pad-bottom-sm">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Mission statement, <i>purpose, </i> &amp; values.</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="margin-bottom-30 wow fadeInLeft" data-wow-duration=".8s">
                                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="margin-bottom-30 wow fadeInRight" data-wow-duration=".8s">
                                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </p>
                        </div>
                    </div>
                    <div class="about-features margin-top-27">
                        <div class="row">
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s">
                                <span class="icon icon-facebook"></span><h6>Facebook</h6>
                            </div>
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
                                <span class="icon icon-twitter"></span><h6>Twitter</h6>
                            </div>
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".3s">
                                <span class="icon icon-linkedin"></span><h6>LinkedIn</h6>
                            </div>
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
                                <span class="icon icon-envelope"></span><h6>E-mail</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--/About Sec-->
        <!--Services Sec-->
        <section class="section services-sec" id="section2">

            <div class="services-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Price and <i>packages</i></h2>
                </div>
                <div class="services-slider-wrap wow bounceIn" data-wow-duration=".8s">
                    <div class="services-slider">
                        <div class="services-item odd">
                            <div class="service-item-wrap">
                                <span class="icon icon-pricetags"></span>
                                <h3>Daily Rate</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>Daily Rate</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                        <div class="services-item even">
                            <div class="service-item-wrap">
                                <span class="icon icon-cloud"></span>
                                <h3>Gold Package</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>Gold Package</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                        <div class="services-item odd">
                            <div class="service-item-wrap">
                                <span class="icon icon-genius"></span>
                                <h3>Silver Package</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>Silver Package</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                        <div class="services-item even">
                            <div class="service-item-wrap">
                                <span class="icon icon-hotairballoon"></span>
                                <h3>Bronze Package</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>Bronze Package</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!--/Services Sec-->
        <!--Features Sec-->
        <section class="section features-sec" id="section3">

            <div class="features-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Some of our <i>amenities</i></h2>
                    <div class="features-wrap">
                        <div class="row-wrap">
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-basket"></span>
                                                <h6>Amenity<br /> 1</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-beaker"></span>
                                                <h6>Amenity<br /> 2</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-heart"></span>
                                                <h6>Amenity<br /> 3</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-paintbrush"></span>
                                                <h6>Amenity<br /> 4</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-puzzle"></span>
                                                <h6>Amenity<br /> 5</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-trophy"></span>
                                                <h6>Amenity<br /> 6</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--/Features Sec-->
        <!--Video Sec-->
        <section class="section video-sec" id="section4">

            calendar goes here
            <div class="page-header">

                <div class="form-inline">
                    <div class="btn-group">
                        <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
                        <button class="btn" data-calendar-nav="today">Today</button>
                        <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
                    </div>
                    <div class="btn-group">
                        @*<button class="btn btn-warning" data-calendar-view="year">Year</button>*@
                        <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                        @*<button class="btn btn-warning" data-calendar-view="week">Week</button>
                        <button class="btn btn-warning" data-calendar-view="day">Day</button>*@
                    </div>
                </div>

                <h3></h3>

            </div>
            <div id="calendar"></div>
        </section>
        <!--/Video Sec-->
        <!--Portfolio Sec-->
        <section class="section portfolio-sec" id="section5">

            <div class="portfolio-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Our <i>Photo Gallery</i>.</h2>
                </div>
                <div class="portfolio-wrap wow bounceIn" data-wow-duration=".8s">

                    <!--Rotational Slider-->
                    <div id="rot_slider" class="rotateslider-container">
                        <div id="portfolio">
                            <div class="rotateslider-item" data-src="http://vimeo.com/1084537" data-poster="/img/project1.jpg" data-sub-html="<h6>Instagram</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project1.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Natural Life of Photographs, Instagram</h6>
                            </div>
                            <div class="rotateslider-item" data-src="/img/project2.jpg" data-sub-html="<h6>Nativ Place</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project2.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Music for Class, Nativ Place</h6>
                            </div>
                            <div class="rotateslider-item" data-src="/img/project3.jpg" data-sub-html="<h6>Dog.inc</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project3.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Inside Studio, Dog.inc</h6>
                            </div>
                            <div class="rotateslider-item" data-html="#video1" data-poster="/img/project4.jpg" data-sub-html="<h6>Viva</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project4.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Fox in the Town, Viva</h6>
                            </div>
                            <div class="rotateslider-item" data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="/img/project5.jpg" data-sub-html="<h6>Oh Girls</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project5.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Oh Girls</h6>
                            </div>
                            <div class="rotateslider-item" data-src="/img/project6.jpg" data-sub-html="<h6>Tattoo Diaries</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project6.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Tattoo Diaries</h6>
                            </div>
                        </div>
                        <span class="arrow right js-rotateslider-arrow" data-action="next"><img src="/img/rightarrow.png" alt="nav" /></span>
                        <span class="arrow left js-rotateslider-arrow" data-action="prev"><img src="/img/leftarrow.png" alt="nav" /></span>
                    </div>
                    <!--/Rotational Slider-->
                    <!-- Hidden video div -->
                    <div style="display:none;" id="video1">
                        <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
                            <source src="videos/video1.mp4" type="video/webm">
                            <source src="videos/video1.html" type="video/webm">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                    <!-- /Hidden video div -->

                </div>
            </div>

        </section>
        <!--/Portfolio Sec-->
        <!--Team Sec-->
        <section class="section team-sec" id="section6">

            <div class="team-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Our <i>team</i>.</h2>
                </div>
                <div class="team-slider-wrap wow fadeInUp" data-wow-duration=".8s">

                    <!-- Team Slider -->
                    <div class="team-slider">
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team1.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">john doe,&nbsp;</span>
                                <span class="p-desn">executive</span>
                            </div>
                        </div>
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team2.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">max tailor,&nbsp;</span>
                                <span class="p-desn">director</span>
                            </div>
                        </div>
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team3.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">amanda grey,&nbsp;</span>
                                <span class="p-desn">creative head</span>
                            </div>
                        </div>
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team4.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">johana d'souza,&nbsp;</span>
                                <span class="p-desn">executive</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Team Slider -->

                </div>
            </div>

        </section>
        <!--/Team Sec-->
        <!--Contact Sec-->
        <section class="section contact-sec" id="section7">

            <div class="contact-sec-wrap sec-pad-top sec-pad-bottom-sm wow fadeInUp" data-wow-duration=".8s">
                <div class="container" data-ng-controller="ContactController">
                    <h2 class="text-center">Hello <i><span data-ng-bind="formData.inputName||'friend'"></span></i>, We'd love to<br /> hear from you.</h2>
                    <form data-ng-submit="submit(contactform, $event)" name="contactform" method="post" class="row form-horizontal" role="form">

                        <!--Address-->
                        <div class="contact-add col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
                            <h6>contact</h6>
                            <p>123 ABC Street, Irvine, CA 92660</p>
                            <a href="mailto:fakeemail@email.com" target="_blank">fakeemail@email.com</a>
                            <a href="callto:19498675309" target="_blank">1 949 867 5309</a>
                        </div>
                        <!--/Address-->
                        <!--Contact Form-->
                        <div class="contact-form-wrap col-md-offset-1 col-md-6 col-sm-12 ">
                            <div class="col-sm-6 col-xs-6 pad-left-zero">
                                <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                    <div class="input-wrap">
                                        <input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                    <div class="input-wrap">
                                        <input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email" id="inputEmail" name="inputEmail" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 pad-right-zero">
                                <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                    <div class="input-wrap">
                                        <textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-xs-12 pad-zero">
                                <div class="align-center">
                                    <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
                                        <span class="mask"></span>
                                        <span>send message</span>
                                    </button>
                                </div>
                            </div>
                            <p class="form-msg" data-ng-class="result">{{ resultMessage }}</p>
                        </div>
                        <!--/Contact Form-->
                        <!--Social Connenctivity-->
                        <div class="connect-add col-md-offset-1 col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
                            <h6>connect</h6>

                            <!--Social Links-->
                            <ul class="social-links col-sm-4 pad-zero">
                                <li>
                                    <a href="http://www.facebook.com/" class="social-link">
                                        facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.twitter.com/" class="social-link">
                                        twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.linkedin.com/" class="social-link">
                                        linkedin
                                    </a>
                                </li>
                            </ul>
                            <!--/Social Links-->

                            <a class="gmap-link" href="https://www.google.com/maps/place/120+Newport+Center+Dr,+Newport+Beach,+CA+92660/" target="_blank">
                                <h6>google map</h6>
                            </a>
                        </div>
                        <!-- /Social Connenctivity-->

                    </form>
                </div>
            </div>

        </section>
        <!--/Contact Sec-->
        <!--Map Sec-->
        <section class="section map-sec" id="section8">
            <div id="map_canvas"></div>
        </section>
        <!--/Map Sec-->
    </div>
    <!--/Main Content-->
    <!-- Scripts -->
    <script src="/Scripts/jquery-1.11.3.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/modernizr.custom.js"></script>
    <script src="/Scripts/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/bower_components/underscore/underscore-min.js"></script>
    <script src="~/Scripts/bower_components/moment/moment.js"></script>
    <script src="~/Scripts/calendar.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="~/Scripts/controllers.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="/Scripts/wow.min.js"></script>
    <script src="/Scripts/jquery.fullpage.js"></script>
    <script src="/Scripts/lightgallery-all.js"></script>
    <script src="/Scripts/main.js"></script>
    <script src="/Scripts/jquery.rotateSlider.js"></script>
    <script src="/Scripts/jquery.xdomainrequest.min.js"></script>
    <script src="/Scripts/jquery.placeholder.js"></script>
    <script src="/Scripts/jquery.zoomslider.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>


    <script src="/Scripts/init.js"></script>
    <script src="~/Scripts/calnav.js"></script>
    <script type="text/javascript">
        var calendar = $("#calendar").calendar({
            events_source: [
                {
                    "id": 293,
                    "title": "Event 1",
                    "url": "http://example.com",
                    "class": "event-important",
                    "start": 12039485678000, // Milliseconds
                    "end": 1234576967000 // Milliseconds
                }
                ]});
    </script>

</body>

</html>