@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en" class="no-js">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Playscape</title>


    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">


    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body id="body" data-ng-app="contactApp" class="dark-theme pink-color">

    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <!--Navigation-->
    <div class="menu-wrap">
        <nav class="menu">
            <div id="menu" class="icon-list">
                <div data-menuanchor="home_sec" class="active"><a class="menu-link" href="#home_sec"><span>home</span></a></div>
                <div data-menuanchor="about_sec"><a class="menu-link" href="#about_sec"><span>about</span></a></div>
                <div data-menuanchor="services_sec"><a class="menu-link" href="#services_sec"><span>services</span></a></div>
                <div data-menuanchor="features_sec"><a class="menu-link" href="#features_sec"><span>features</span></a></div>
                <div data-menuanchor="video_sec"><a class="menu-link" href="#video_sec"><span>video</span></a></div>
                <div data-menuanchor="portfolio_sec"><a class="menu-link" href="#portfolio_sec"><span>portfolio</span></a></div>
                <div data-menuanchor="team_sec"><a href="#team_sec"><span>team</span></a></div>
                <div data-menuanchor="contact_sec"><a href="#contact_sec"><span>contact</span></a></div>
                <div data-menuanchor="googlemap_sec"><a href="#googlemap_sec"><span>google map</span></a></div>
            </div>
        </nav>

        <!--Twitter Sec-->
        <div class="twitter-wrap">
            <span class="twiter-ico-wrap">
                <i class="fa fa-twitter"></i>
            </span>
            <div id="tweecool"></div>
        </div>
        <!--/Twitter Sec-->
    </div>

    <div class="right-patch">
        <div class="copywrite-wrap">
            <p class="copywrite"><b>Hencework &copy; 2016.</b></p>
        </div>
    </div>
    <button class="menu-button hamburger hamburger--collapse" id="open-button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <!--/Navigation-->
    <!--Slider-->
    <div class="full-height" data-zs-src='["/img/bg1.jpg", "/img/bg2.jpg", "/img/bg3.jpg"]'></div>
    <!--/Slider-->
    <!-- /Gradient Overlay-->
    <div id="gradient"></div>
    <!-- /Gradient Overlay-->
    <!--Main Content-->
    <div id="fullpage" class="content-wrap">

        <!--Home Sec-->
        <section class="section intro-sec text-center" id="section0">

            <div class="intro-sec-wrap sec-pad">

                <!--Logo-->
                <div class="logo">
                    <img src="/img/logo-light.png" alt="logo" />
                </div>
                <!--/Logo-->

                <div class="container">
                    <h5>
                        <!--Counter-->
                        <span id="countdown" class="animated">
                            <span class="days-wrap">
                                <span class="days">00</span>
                                <span>days</span>
                                <span class="time-sep">:</span>
                            </span>
                            <span class="hours-wrap">
                                <span class="hours">00</span>
                                <span>hours</span>
                                <span class="time-sep">:</span>
                            </span>
                            <span class="minutes-wrap">
                                <span class="minutes">00</span>
                                <span>min</span>
                                <span class="time-sep">:</span>
                            </span>
                            <span class="seconds-wrap">
                                <span class="seconds">00</span>
                                <span>sec</span>
                            </span>
                        </span>
                        <!--Counter-->
                    </h5>

                    <div id="nt-title-container">
                        <ul id="nt-title">
                            <li>
                                <h1> Nancy &amp; Jimmy<br /> CRUD.</h1>
                            </li>
                            <li>
                                <h1>Playscape &amp; Mock<br /> Site.</h1>
                            </li>
                        </ul>
                    </div>

                    <p class="lead">We are coming soon with our brand new website.</p>
                    <span class="btn btn-default md-trigger margin-top-85 margin-top-md-60 margin-top-sm-30" data-modal="modal-2">
                        <span class="mask"></span>
                        <span class="btn-label">
                            <b>Notify me</b>
                        </span>
                    </span>
                </div>

                <!--Social Icons-->
                <ul class="social-icons col-sm-4 pad-zero">
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="social-icon">
                                <span class="fa fa-dropbox"></span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!--/Social Icons-->
                <div class="clearfix"></div>
            </div>

        </section>
        <!--/Home Sec-->
        <!--About Sec-->
        <section class="section about-sec" id="section1">

            <div class="about-sec-wrap sec-pad-top sec-pad-bottom-sm">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">We work for a <i>purpose</i> &amp; we believe in it.</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="margin-bottom-30 wow fadeInLeft" data-wow-duration=".8s">
                                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="margin-bottom-30 wow fadeInRight" data-wow-duration=".8s">
                                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </p>
                        </div>
                    </div>
                    <div class="about-features margin-top-27">
                        <div class="row">
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s">
                                <span class="icon icon-adjustments"></span><h6>easy customization</h6>
                            </div>
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
                                <span class="icon icon-twitter"></span><h6>social media feeds</h6>
                            </div>
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".3s">
                                <span class="icon icon-lock"></span><h6>additional menu</h6>
                            </div>
                            <div class="col-lg-3  col-xs-6 margin-bottom-sm-30 icon-wrap wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".4s">
                                <span class="icon icon-globe"></span><h6>multi browser support</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--/About Sec-->
        <!--Services Sec-->
        <section class="section services-sec" id="section2">

            <div class="services-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">We provide <i>solutions</i><br />making User Centered Designs.</h2>
                </div>
                <div class="services-slider-wrap wow bounceIn" data-wow-duration=".8s">
                    <div class="services-slider">
                        <div class="services-item odd">
                            <div class="service-item-wrap">
                                <span class="icon icon-mobile"></span>
                                <h3>interface design</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>interface design</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                        <div class="services-item even">
                            <div class="service-item-wrap">
                                <span class="icon icon-tools-2"></span>
                                <h3>Theme customization</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>Theme customization</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                        <div class="services-item odd">
                            <div class="service-item-wrap">
                                <span class="icon icon-telescope"></span>
                                <h3>media marketing</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>media marketing</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                        <div class="services-item even">
                            <div class="service-item-wrap">
                                <span class="icon icon-tools"></span>
                                <h3>Branding & Printing</h3>
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <h3>Branding & Printing</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="service-item-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!--/Services Sec-->
        <!--Features Sec-->
        <section class="section features-sec" id="section3">

            <div class="features-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Comes with <i>unlimited</i><br />posibilities and features.</h2>
                    <div class="features-wrap">
                        <div class="row-wrap">
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-anchor"></span>
                                                <h6>user friendly<br /> blocks</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-alarmclock"></span>
                                                <h6>easy <br /> customization</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-tools-2"></span>
                                                <h6>fullpage<br /> slider</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-layers"></span>
                                                <h6>classic<br /> font icons</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-tools"></span>
                                                <h6>additional<br /> menu styles</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-xs-6 pad-zero features-block">
                                <div class="wow bounceIn" data-wow-duration=".8s">
                                    <div class="fb-table icon-wrap">
                                        <div class="fb-table-cell">
                                            <div>
                                                <span class="icon icon-twitter"></span>
                                                <h6>Social Media<br />Feeds</h6>
                                            </div>
                                            <p class="fb-table">
                                                <b class="fb-table-cell">
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--/Features Sec-->
        <!--Video Sec-->
        <section class="section video-sec" id="section4">

            <div class="video-sec-wrap sec-pad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 margin-bottom-sm-50 wow fadeInLeft" data-wow-duration=".8s">
                            <div id="video_player">

                                <!--Video Player-->
                                <div class="video-gal" data-src="http://vimeo.com/1084537">
                                    <a href="#">
                                        <img src="/img/video/img.jpg" class="img-responsive" alt="Image description">
                                        <div class="play-vid">
                                            <i class="fa fa-caret-right"></i>
                                        </div>
                                    </a>
                                </div>
                                <!--/Video Player-->

                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-5 col-sm-12 text-left wow fadeInRight" data-wow-duration=".8s">
                            <h2 class="margin-bottom-23">Purposeful <i>Designs</i><br /> are user first designs.</h2>
                            <p>
                                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--/Video Sec-->
        <!--Portfolio Sec-->
        <section class="section portfolio-sec" id="section5">

            <div class="portfolio-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Our <i>Portfolio</i>.</h2>
                </div>
                <div class="portfolio-wrap wow bounceIn" data-wow-duration=".8s">

                    <!--Rotational Slider-->
                    <div id="rot_slider" class="rotateslider-container">
                        <div id="portfolio">
                            <div class="rotateslider-item" data-src="http://vimeo.com/1084537" data-poster="/img/project1.jpg" data-sub-html="<h6>Instagram</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project1.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Natural Life of Photographs, Instagram</h6>
                            </div>
                            <div class="rotateslider-item" data-src="/img/project2.jpg" data-sub-html="<h6>Nativ Place</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project2.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Music for Class, Nativ Place</h6>
                            </div>
                            <div class="rotateslider-item" data-src="/img/project3.jpg" data-sub-html="<h6>Dog.inc</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project3.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Inside Studio, Dog.inc</h6>
                            </div>
                            <div class="rotateslider-item" data-html="#video1" data-poster="/img/project4.jpg" data-sub-html="<h6>Viva</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project4.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Fox in the Town, Viva</h6>
                            </div>
                            <div class="rotateslider-item" data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="/img/project5.jpg" data-sub-html="<h6>Oh Girls</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project5.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Oh Girls</h6>
                            </div>
                            <div class="rotateslider-item" data-src="/img/project6.jpg" data-sub-html="<h6>Tattoo Diaries</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                <a href="#">
                                    <img src="/img/project6.jpg" alt="project">
                                    <div class="hover"><span>+</span></div>
                                </a>
                                <h6>Tattoo Diaries</h6>
                            </div>
                        </div>
                        <span class="arrow right js-rotateslider-arrow" data-action="next"><img src="/img/rightarrow.png" alt="nav" /></span>
                        <span class="arrow left js-rotateslider-arrow" data-action="prev"><img src="/img/leftarrow.png" alt="nav" /></span>
                    </div>
                    <!--/Rotational Slider-->
                    <!-- Hidden video div -->
                    <div style="display:none;" id="video1">
                        <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
                            <source src="videos/video1.mp4" type="video/webm">
                            <source src="videos/video1.html" type="video/webm">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                    <!-- /Hidden video div -->

                </div>
            </div>

        </section>
        <!--/Portfolio Sec-->
        <!--Team Sec-->
        <section class="section team-sec" id="section6">

            <div class="team-sec-wrap sec-pad">
                <div class="container">
                    <h2 class="text-center wow fadeInUp" data-wow-duration=".8s">Our team of <i>experts</i>.</h2>
                </div>
                <div class="team-slider-wrap wow fadeInUp" data-wow-duration=".8s">

                    <!-- Team Slider -->
                    <div class="team-slider">
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team1.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">john doe,&nbsp;</span>
                                <span class="p-desn">executive</span>
                            </div>
                        </div>
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team2.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">max tailor,&nbsp;</span>
                                <span class="p-desn">director</span>
                            </div>
                        </div>
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team3.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">amanda grey,&nbsp;</span>
                                <span class="p-desn">creative head</span>
                            </div>
                        </div>
                        <div class="team-person">
                            <div class="person-img-wrap">
                                <img class="img-responsive" src="/img/team4.jpg" alt="team" />
                                <div class="expand-content">
                                    <div class="excont opacity-hide">
                                        <p>
                                            "It always seems impossible until its done.
                                        </p>
                                        <!--Person Social Icons-->
                                        <ul class="social-icons">
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="social-icon">
                                                    <span class="fa fa-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--/Person Social Icons-->
                                    </div>
                                </div>
                                <div class="toggle-expand">
                                    <span class="plus">
                                        <img src="/img/plus-dark.png" alt="control" />
                                    </span>
                                    <span class="minus opacity-hide">
                                        <img src="/img/minus-dark.png" alt="control" />
                                    </span>
                                </div>
                            </div>
                            <div class="per-detail margin-top-20">
                                <span class="p-name">johana d'souza,&nbsp;</span>
                                <span class="p-desn">executive</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Team Slider -->

                </div>
            </div>

        </section>
        <!--/Team Sec-->
        <!--Contact Sec-->
        <section class="section contact-sec" id="section7">

            <div class="contact-sec-wrap sec-pad-top sec-pad-bottom-sm wow fadeInUp" data-wow-duration=".8s">
                <div class="container" data-ng-controller="ContactController">
                    <h2 class="text-center">Hello <i><span data-ng-bind="formData.inputName||'friend'"></span></i>, We'd love to<br /> hear from you.</h2>
                    <form data-ng-submit="submit(contactform, $event)" name="contactform" method="post" class="row form-horizontal" role="form">

                        <!--Address-->
                        <div class="contact-add col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
                            <h6>contact</h6>
                            <p>201, A, 25th street, suit 654, california, CA 105786</p>
                            <a href="mailto:creativehi@coyote.com" target="_blank">creativehi@coyote.com</a>
                            <a href="callto:755868523645" target="_blank">+75 58685 23645</a>
                        </div>
                        <!--/Address-->
                        <!--Contact Form-->
                        <div class="contact-form-wrap col-md-offset-1 col-md-6 col-sm-12 ">
                            <div class="col-sm-6 col-xs-6 pad-left-zero">
                                <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                    <div class="input-wrap">
                                        <input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                    <div class="input-wrap">
                                        <input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email" id="inputEmail" name="inputEmail" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 pad-right-zero">
                                <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                    <div class="input-wrap">
                                        <textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-xs-12 pad-zero">
                                <div class="align-center">
                                    <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
                                        <span class="mask"></span>
                                        <span>send message</span>
                                    </button>
                                </div>
                            </div>
                            <p class="form-msg" data-ng-class="result">{{ resultMessage }}</p>
                        </div>
                        <!--/Contact Form-->
                        <!--Social Connenctivity-->
                        <div class="connect-add col-md-offset-1 col-md-2 col-sm-6 col-xs-6 margin-top-xs-15">
                            <h6>connect</h6>

                            <!--Social Links-->
                            <ul class="social-links col-sm-4 pad-zero">
                                <li>
                                    <a href="#" class="social-link">
                                        facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        linkedin
                                    </a>
                                </li>
                            </ul>
                            <!--/Social Links-->

                            <a class="gmap-link" href="https://www.google.com/maps/d/viewer?mid=z_gdBE8F4CM4.kd855LF8lFPo&amp;hl=en_US" target="_blank">
                                <h6>google map</h6>
                            </a>
                        </div>
                        <!-- /Social Connenctivity-->

                    </form>
                </div>
            </div>

        </section>
        <!--/Contact Sec-->
        <!--Map Sec-->
        <section class="section map-sec" id="section8">
            <div id="map_canvas"></div>
        </section>
        <!--/Map Sec-->
    </div>
    <!--/Main Content-->
    <!--Notify Popup-->
    <div class="md-modal md-effect-2" id="modal-2">
        <div class="md-content notify-cmpt notify-form-type-3">
            <div class="md-content-wrap notify-wrap">
                <div class="md-close" id="notify_close"><span>X</span></div>
                <h2>Subscribe & Stay Updated</h2>
                <p class="margin-top-xs-20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <form id="notifyMe" class="contact-form" action="http://hencework.com/coyote/kenburn-slider-gradient/notify-me.php" method="post">
                    <div class="input-wrap">
                        <input data-ng-model="notify" class="col-lg-10  align-center form-control input notify-input-box" name="email" placeholder="Your Email ID" type="email">
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-default progress-button btn-submit align-center">
                            Notify me
                            <span class="mask"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="md-opac"></div>
        </div>
    </div>
    <div class="md-overlay"></div>
    <!--/Notify Popup-->
    <!--Style-customizer -->
    <div id="app_customizer" class="app-customizer">
        <a href="#" class="app-customizer-toggle">
            <i class="fa fa-gear"></i>
        </a>
        <div class="colors">
            <span id="pink_pick"></span>
            <span id="blue_pick"></span>
            <span id="green_pick"></span>
            <span id="orange_pick"></span>
        </div>
    </div>
    <!-- /Style-customizer -->
    <!-- Scripts -->
    <script src="/Scripts/jquery-1.11.3.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/modernizr.custom.js"></script>
    <script src="/Scripts/modernizr-2.6.2.min.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/controllers.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="/Scripts/notifyMe.js"></script>
    <script src="/Scripts/froogaloop2.min.js"></script>
    <script src="/Scripts/wow.min.js"></script>
    <script src="/Scripts/jquery.fullpage.js"></script>
    <script src="/Scripts/lightgallery-all.js"></script>
    <script src="/Scripts/jquery.countdown.js"></script>
    <script src="/Scripts/jquery.newsTicker.js"></script>
    <script src="/Scripts/classie.js"></script>
    <script src="/Scripts/main.js"></script>
    <script src="/Scripts/jquery.rotateSlider.js"></script>
    <script src="/Scripts/modelclassie.js"></script>
    <script src="/Scripts/modalEffects.js"></script>
    <script src="/Scripts/jquery.xdomainrequest.min.js"></script>
    <script src="/Scripts/tweecool.js"></script>
    <script src="/Scripts/jquery.placeholder.js"></script>
    <script src="/Scripts/jquery.zoomslider.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="/Scripts/init.js"></script>
</body>

</html>
